@model Bigrivers.Client.Backend.ViewModels.NewsItemViewModel

<div id="wrapper">
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new {@Id = "content"})
                @*<script>
                        // Replace the <textarea id="content"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace("content");
                    </script>*@
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Image)
                <span>Upload een foto voor dit nieuwsbericht</span><br/>
                <input type="file" name="pic">
            </fieldset>
            <fieldset>
                <label class="label label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <div class="footer">
                <input type="submit" name="save" value="Nieuwsbericht opslaan">
            </div>
        }
    </div>
</div>