@model Bigrivers.Client.Backend.ViewModels.NewsItemViewModel

<div id="content">
    <div class="form-div">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @Id = "content" })
                @*<script>
                        // Replace the <textarea id="content"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace("content");
                    </script>*@
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Image)
                <span>Upload een foto voor dit nieuwsbericht</span><br />
                <input type="file" name="pic">
            </fieldset>
            <hr />
            <fieldset>
                <label class="label label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <fieldset>
                <input type="submit" name="save" value="Nieuwsbericht opslaan">
            </fieldset>
        }
    </div>
    
</div>