@using Bigrivers.Server.Model
@{
    List<NewsItem> listNewsItems = ViewBag.ListNewsItems;
}
<div id="wrapper">
    @ViewBag.errormsg
    <h1>@ViewBag.Title</h1>
    <div id="actionbar">
        <div class="action-block">
            @Html.ActionLink("Nieuwsbericht Toevoegen", "New", "News")
        </div>
    </div>
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Auteur</th>
                    <th>Updated</th>
                    <th>Status</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in listNewsItems)
                {
                    if (!m.Status)
                    {
                        @:<tr class="inactive">
                    }
                    else
                    {
                        @:<tr>
                    }
                    <td>@m.Title</td>
                    <td>Auteurnaam</td>
                    <td>Datum gewijzigd</td>
                    <td>@Html.ActionLink((m.Status ? "Actief" : "Inactief"), "SwitchStatus", "News", new { m.Id }, null)</td>
                    <td>
                        @Html.ActionLink("Wijzig", "Edit", "News", new { m.Id }, null)
                        @Html.ActionLink("Verwijder", "Delete", "News", new { m.Id }, new { @onclick = (string)String.Format("return confirm('Je staat op het punt om {0} te verwijderen. Weet je dit zeker?');", m.Title) })
                    </td>
                @:</tr>
                }
            </tbody>
        </table>
    </div>
</div>
