@model Bigrivers.Client.Backend.ViewModels.ChangePasswordViewModel
@{
    
    ViewBag.Title = "ChangePassword";
}

<div id="content">
    <div class="form-div">
        <form method="POST" enctype="multipart/form-data">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </fieldset>
            <hr />
            <fieldset>
                <input type="submit" name="save" value="Wijzig wachtwoord">
            </fieldset>
        </form>
    </div>
    
</div>