@model Bigrivers.Client.Backend.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div id="wrapper">
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div id="content">
        <form method="POST" enctype="multipart/form-data">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.LabelFor(m => m.LoginName)
                @Html.TextBoxFor(m => m.LoginName)

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.DropDownListFor(m => m.Role, Model.Roles)
            </fieldset>
            <hr />
            <div class="footer">
                <input type="submit" name="save" value="Registreer">
            </div>
        </form>
    </div>
</div>