@model Bigrivers.Client.Backend.ViewModels.MenuItemViewModel

<div id="wrapper">
    <div class="page-title">
        <h1>Menuitem toevoegen</h1>
    </div>

    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <h2>MenuItem</h2>
            <fieldset>
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName)
                @Html.LabelFor(m => m.URL)
                @Html.TextBoxFor(m => m.URL)
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => m.Status)
                <label class="radio">@Html.RadioButtonFor(m => m.Status, true) Actief</label>
                <label class="radio">@Html.RadioButtonFor(m => m.Status, false) Inactief</label>
            </fieldset>
            <hr />
            <div class="footer">
                <input type="submit" name="save" value="Menuitem opslaan">
            </div>
        }
    </div>
</div>