@{
    Artist currentArtist = Model;
    ViewBag.Title = currentArtist.Name;
}

<div class="content">
    <img class="content-pin-left" src="~/Images/Pin Left.png" />
    <img class="content-pin-right" src="~/Images/Pin Right.png" />
    <h1 class="page-title">@currentArtist.Name</h1>
    
    @if (currentArtist.Avatar != null)
    {
        <img class="ArtistAvatar visible-xs" src="@ImageHelper.GetImageUrl(currentArtist.Avatar)" />
        <br class="clear" />
    }
    @if (currentArtist.Description != null)
    {
        <div class="ArtistsDescription">@Html.Raw(currentArtist.Description)</div>
    }
    @if (currentArtist.Avatar != null)
    {
        <img class="ArtistAvatar hidden-xs" src="@ImageHelper.GetImageUrl(currentArtist.Avatar)" />
        <br class="clear" />
    }
    @if (currentArtist.Facebook != null || currentArtist.YoutubeChannel != null || currentArtist.Twitter != null || currentArtist.Website != null)
    {
    <h3>Links:</h3>
    <ul>
        @if (currentArtist.Website != null){ <li><a href="@currentArtist.Website" target="_blank">Website</a></li> }
        @if (currentArtist.Facebook != null){ <li><a href="@currentArtist.Facebook" target="_blank">Facebook</a></li> }       
        @if (currentArtist.YoutubeChannel != null){ <li><a href="@currentArtist.YoutubeChannel" target="_blank">YoutubeChannel</a></li> }  
        @if (currentArtist.Twitter != null){ <li><a href="@currentArtist.Twitter" target="_blank">Twitter</a></li> }  
    </ul>
    }
    @if(currentArtist.Performances.Where(m => m.Status).Count() > 0){
        <h3>Optredens:</h3>
    <table class="day-table">
        <thead>
            <tr>
                <th>Evenement</th>
                <th>Locatie</th>
                <th>Datum</th>
                <th>Tijd</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in currentArtist.Performances.Where(m => m.Status))
            {
                <tr>
                    <td>@Html.ActionLink(p.Event.Title, "Event", "Home", new {id = p.Event.Id})</td>
                    <td>@Html.ActionLink(p.Location.Stagename, "Location", "Home", new { id = p.Location.Id })</td>
                    <td>@p.Start.ToString("dddd dd MMMM")</td>
                    <td>@p.Start.DateTime.ToString("HH:mm") - @p.End.DateTime.ToString("HH:mm")</td>
                </tr>
            }
        </tbody>

    </table>
    }
</div>
