@{
    Artist currentArtist = Model;
    ViewBag.Title = currentArtist.Name;
}

<div class="content">
    <h1 class="page-title">@currentArtist.Name</h1>
    @if (currentArtist.Avatar != null)
    {
        <img class="ArtistAvatar" src="@ImageHelper.GetImageUrl(currentArtist.Avatar)" />
        <br class="clear" />
    }
    @if (currentArtist.Description != null)
    {
        @Html.Raw(currentArtist.Description)
    }
    <h3>Links:</h3>
    <ul>
        @if (currentArtist.Website != null){ <li><a href="@currentArtist.Website" target="_blank">Website</a></li> }
        @if (currentArtist.Facebook != null){ <li><a href="@currentArtist.Facebook" target="_blank">Facebook</a></li> }       
        @if (currentArtist.YoutubeChannel != null){ <li><a href="@currentArtist.YoutubeChannel" target="_blank">YoutubeChannel</a></li> }  
        @if (currentArtist.Twitter != null){ <li><a href="@currentArtist.Twitter" target="_blank">Twitter</a></li> }  
    </ul>
</div>
