@{
    ViewBag.Title = "Contact";
}
@model Bigrivers.Client.WebApplication.ViewModels.SettingsViewModel

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script>
            function initialize() {
                var mapOptions = {
                    zoom: 14,
                    center: new google.maps.LatLng(51.8127673, 4.659293599999955),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById('location-canvas'),
                mapOptions);

                var contentstring = 'Festivalbureau Big Rivers<br/> Slikveld 1 <br/> 3311 VT Dordrecht';

                var infowindow = new google.maps.InfoWindow({
                    content: contentstring,
                    maxWidth: 200
                });

                var marker = new google.maps.Marker({
                    map: map,
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                    position: new google.maps.LatLng(51.8127673, 4.659293599999955),
                    title: "Bigrivers kantoor"
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            }

            google.maps.event.addDomListener(window, 'resize', initialize);
            google.maps.event.addDomListener(window, 'load', initialize)
        </script>
    </head>

<body>
<div id="location-canvas" style="width: 100%; height: 300px;"></div>

    <div class="body-contact">
            <address>
                <p><strong>(Postadres)</strong> Stichting Big Rivers<br />
                    Postbus 1060<br/>
                    3300 BB Dordrecht<br/>
                    <strong>(Bezoekadres)</strong> Festivalbureau Big Rivers<br/>
                    Slikveld 1<br/>
                    3311 VT Dordrecht
                </p>
                <p>
                    <strong>Tel:</strong> (078-) 614 41 82<br />
                    <strong>E-mail:</strong> <a href="mailto:info@bigrivers.nl">info@bigrivers.nl</a><br /> 
                </p>
            </address>
            <div>
                <ul>
                    <li class="social"><a href="@Html.DisplayTextFor(m => m.Facebook)" target="_blank"><img src="/Images/fb_icon.png" width="30" height="30"></a></li>
                    <li class="social"><a href="@Html.DisplayTextFor(m => m.Twitter)" target="_blank"><img src="/Images/tw_icon.png" width="30" height="30"></a></li>
                    <li class ="social"><a href="@Html.DisplayTextFor(m => m.YoutubeChannel)" target="_blank"><img src="/Images/yt_icon.png" width="30" height="30"></a></li>
                </ul>
            </div>
            <div class="twitterfeed">
                <a class="twitter-timeline" href="@Html.DisplayTextFor(m => m.Twitter)" data-widget-id="594063302793244673" data-screen-name="@Html.DisplayTextFor(m => m.Twitter)"> Tweets door @Html.DisplayTextFor(m => m.Twitter)</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
</body>