@{
    Event currentEvent = Model;
    ViewBag.Title = currentEvent.Title;
    var Youtube = ViewBag.SiteInformation.YoutubeChannel;
    var Facebook = ViewBag.SiteInformation.Facebook;
    var Twitter = ViewBag.SiteInformation.Twitter;
}

<div class="content">
    <h1 class="page-title">@currentEvent.Title</h1>
    <p>@currentEvent.Description</p>
    <h3>Optredens</h3>

    <h3>Links:</h3>
    <ul>
        @if (currentEvent.FacebookStatus == true){<li><a href="@Facebook" target="_blank">Facebook</a></li> }
        @if (currentEvent.YoutubeChannelStatus != null){<li><a href="@Youtube" target="_blank">YoutubeChannel</a></li> }
        @if (currentEvent.TwitterStatus != null){<li><a href="@Twitter" target="_blank">Twitter</a></li> }
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th>Optreden</th>
            <th>Artiest</th>
            <th>Locatie</th>
            <th>Datum</th>
        </tr>
        </thead>
        @foreach (Performance p in ViewBag.PerformancesList)
        {
            <tr>
                <td>
                    @if (p.Description != null)
                    {
                        @Html.ActionLink(p.Description, "Performances", new { Id = p.Id })
                    }
                </td>
                <td>
                    @if (p.Artist != null)
                    {
                        @Html.ActionLink(p.Artist.Name, "Artists", new {Id = p.Id})
                    }
                </td>
                <td>
                    @Html.ActionLink(p.Location.Stagename, "Location", new { Id = p.Id })
                </td>
                <td>
                    @p.Start.DateTime.Day - @p.Start.DateTime.Month - @p.Start.DateTime.Year
                </td>
            </tr>
        }
    </table>
</div>