@using Bigrivers.Client.WebApplication.Models
@{
    Event currentEvent = Model;
    List<StagesViewModel> performancesByDate = ViewBag.PerformancesByDate;
    ViewBag.Title = currentEvent.Title;
    var Youtube = ViewBag.SiteInformation.YoutubeChannel;
    var Facebook = ViewBag.SiteInformation.Facebook;
    var Twitter = ViewBag.SiteInformation.Twitter;
}

<div class="content">
    <img class="content-pin-left" src="~/Images/Pin Left.png" />
    <img class="content-pin-right" src="~/Images/Pin Right.png" />
    <h1 class="page-title">@currentEvent.Title</h1>
    <div class="EventDescription">
        @Html.Raw(currentEvent.Description)
    </div>

    @if (currentEvent.FacebookStatus || currentEvent.YoutubeChannelStatus || currentEvent.TwitterStatus)
    {
    <h3 class="page-title">Links:</h3>
    <ul>
        @if (currentEvent.FacebookStatus){<li><a href="@Facebook" target="_blank">Facebook</a></li> }
        @if (currentEvent.YoutubeChannelStatus){<li><a href="@Youtube" target="_blank">YoutubeChannel</a></li> }
        @if (currentEvent.TwitterStatus){<li><a href="@Twitter" target="_blank">Twitter</a></li> }
    </ul>
    }
    @if (performancesByDate.Count != 0) { 
    <h3 class="page-title">Programma:</h3>
    <div class="day-btn-list">
        @foreach (var day in performancesByDate)
        {
            <h3 id="date-@day.Date.Day@day.Date.Month@day.Date.Year" class="day-btn @(day == performancesByDate.First() ? "selected" : "non-selected" )">@day.Date.ToString("dddd dd MMMM")</h3>
        }
    </div>

        foreach (var day in performancesByDate)
        {
            <table id="date-@day.Date.Day@day.Date.Month@day.Date.Year" class="daytable @(day == performancesByDate.First() ? "selected" : "non-selected")">

                @foreach (var stage in day.Stages)
                {
                    <thead>
                        <tr>
                            <th colspan="2">@Html.ActionLink(stage.Stage.Stagename, "Location", "Home", new { id = stage.Stage.Id }, null)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in stage.Performances)
                        {
                            <tr>
                                <td class="performance-date">@p.Start.DateTime.ToString("HH:mm") - @p.End.DateTime.ToString("HH:mm")</td>
                                <td>@Html.ActionLink(p.Artist.Name, "Artists", "Home", new { id = p.Artist.Id }, null)</td>
                            </tr>
                        }
                            <tr>
                                <td><br /></td>
                            </tr>
                    </tbody>
                }

            </table>
        }
    }
</div>

<script src="/Scripts/performanceDaySelector.js"></script>