@{
    ViewBag.Title = "Events";
}

<div class="content">
    <img class="content-pin-left" src="~/Images/Pin Left.png" />
    <img class="content-pin-right" src="~/Images/Pin Right.png" />
    <h1 class="page-title">Events</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Event</th>
            <th>Beschrijving</th>
            <th>Start datum</th>
            <th>Eind Datum</th>
            <th>Prijs</th>
        </tr>
        </thead>
        @foreach (Event e in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(e.Title, "Events", new {Id = e.Id})
                </td>
                <td class="EventsDescription-td">
                    <div class="EventsDescription">
                        @Html.Raw(e.Description)
                    </div>
                </td>
                <td class="EventsDatum">
                    @e.Start.DateTime.ToString("dd-MM-yyyy")
                </td>
                <td class="EventsDatum">
                    @e.End.DateTime.ToString("dd-MM-yyyy")
                </td>
                <td class="EventsPrice">
                    € @e.Price
                </td>
            </tr>
        }
    </table>
</div>