@using Bigrivers.Client.WebApplication.Models
@{
    Event currentEvent = Model;
    List<PerformanceListViewModel> performancesByDate = ViewBag.PerformancesByDate;
    ViewBag.Title = currentEvent.Title;
}

<div class="content">
    <h1 class="page-title">@currentEvent.Title</h1>
    <p>@currentEvent.Description</p>
    <h3>Optredens</h3>

    <div class="day-btn-list">
        @foreach (var day in performancesByDate)
        {
            <h3 id="date-@day.Date.Day" class="day-btn @(day == performancesByDate.First() ? "selected" : "non-selected" )">@day.Date.ToString("dddd dd MMMM")</h3>
        }
    </div>

    @foreach (var day in performancesByDate)
    {
        <table id="date-@day.Date.Day" class="day-table @(day == performancesByDate.First() ? "selected" : "non-selected")">
            <thead>
            <tr>
                <th>Wanneer</th>
                <th>Waar</th>
                <th>Wie</th>
                <th>Tijd</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var p in day.Performances)
            {
                <tr>
                    <td>@p.Start.ToString("dddd dd MMMM")</td>
                    <td>@p.Location.Stagename</td>
                    <td>@p.Artist.Name</td>
                    <td>@p.Start.DateTime.ToString("HH:mm") - @p.End.DateTime.ToString("HH:mm")</td>
                </tr>
            }
            </tbody>

        </table>
    }
</div>

<script src="/Scripts/performanceDaySelector.js"></script>