@{
    ViewBag.Title = "Home Page";
    List<WidgetItem> widgetItems = ViewBag.WidgetItems;
}
<div class="row">

    <!-- Nieuws Widget -->
    <div class="Button col-xs-6 col-sm-4 col-md-3">
        <div class="index-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (var item in widgetItems)
                    {
                    <div class="@(item == widgetItems.First()?" item active":"item")">
                        <a href="@LinkHelper.GetUrl(item.Target)">
                            <img class="CarouselImg" src="@ImageHelper.GetImageUrl(item.Image)">
                            <p class="CarouselTitle">@item.DisplayName</p>
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
        <img class="ButtonBackground" src="../Images/Designconcept/polaroid.png">
    </div>

    <!-- Sponsoren Widget -->
    <div class="Button col-xs-6 col-sm-4 col-md-3">
        <div class="index-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (Sponsor item in ViewBag.Sponsors)
                    {
                        <div class="@(item.first?"item active":"item")">
                            <a href="@item.Url" target="_blank">
                                <img class="CarouselImg" src="@ImageHelper.GetImageUrl(item.Image)">
                                <p class="CarouselTitle">@item.Name</p>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <img class="ButtonBackground" src="../Images/Designconcept/polaroid.png">
    </div>

@foreach (ButtonItem item in ViewBag.ButtonItems)
{
    <div class="Button col-xs-6 col-sm-4 col-md-3">
        <a href="@LinkHelper.GetUrl(item.Target)">
            <img class="ButtonImg" src="@ImageHelper.GetImageUrl(item.Logo)">
            <p class="ButtonTitle">@item.DisplayName</p>
        </a>
        <img class="ButtonBackground" src="../Images/Designconcept/polaroid.png">
    </div>
}
</div>