@{
    Location location = Model;
    ViewBag.Title = location.Stagename;
}

<div class="content">
    <img class="content-pin-left" src="~/Images/Pin Left.png" />
    <img class="content-pin-right" src="~/Images/Pin Right.png" />
    <h1 class="page-title">@location.Stagename</h1>
    <p>@location.Street @location.Number</p>
    <p>@location.Zipcode @location.City</p>
</div>
