@{
    ViewBag.Title = "Nieuws";
    List<NewsItem> newsItems = Model;
}

<h1 class="page-title">Nieuws</h1>

<div class="content partial-size news-overview">
    @foreach (var p in newsItems.Take(5))
    {
        <div class="news-item">
            <div class="news-title">
                <h3>@Html.ActionLink(p.Title, "News", new {Id = p.Id})</h3>
                <h5>@p.Created.DateTime.Day - @p.Created.DateTime.Month - @p.Created.DateTime.Year</h5>
            </div>
            @if (p.Image != null)
            {
                <div class="news-image">
                    <img src="@ImageHelper.GetImageUrl(p.Image)"/>
                </div>
            }
            <div class="news-text height-limited">
                <p>@Html.Raw(p.Content)</p>
            </div>
            <div class="news-footer">
                <span>@Html.ActionLink("Lees Verder", "News", new {Id = p.Id})</span>
            </div>
            <br class="clear"/>
        </div>
        <br class="clear"/>
    }
</div>

@Html.Partial("_NewsArchive", newsItems)