@model Bigrivers.Client.Backend.ViewModels.PageViewModel

<div id="content">
    <div class="form-div">
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => m.EditorContent)
                @Html.TextAreaFor(m => m.EditorContent, new { @Id = "ckeditor" })
                @Html.LabelFor(m => m.HtmlContent)
                @Html.TextAreaFor(m => m.HtmlContent)
                @Html.LabelFor(m => m.IFrameLink)
                @Html.TextBoxFor(m => m.IFrameLink)
                @Html.LabelFor(m => m.IFrameHeight)
                @Html.TextBoxFor(m => m.IFrameHeight)
                <script>
                    // Replace the <textarea id="ckeditor"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace("ckeditor");
                </script>
            </fieldset>
            <hr />
            <fieldset>
                <label class="label label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <fieldset>
                <input type="submit" name="save" value="Pagina opslaan">
            </fieldset>
        </form>
    </div>
</div>