@{
    List<MenuItem> childList = ViewBag.MenuItemsChild;
}

<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Big Rivers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
    <body>
        <div class="header">
            <div class="header-items hidden-xs">
                <img class="header-beer" src="~/Images/beer.png" />
                <img class="header-peanuts" src="~/Images/peanuts.png" />
            </div>
        </div>
        <div class="header-buttons hidden-xs">
            <a href="@ViewBag.SiteInformation.YoutubeChannel" target="_blank"><img class="header-yt img-circle" src="~/Images/yt_bottlecap.png" /></a>
            <a href="@ViewBag.SiteInformation.Facebook" target="_blank"><img class="header-fb img-circle" src="~/Images/fb_bottlecap.png" /></a>
            <a href="@ViewBag.SiteInformation.Twitter" target="_blank"><img class="header-tw img-circle" src="~/Images/tw_bottlecap.png" /></a>
        </div>
        <div class="header-coaster img-circle">
            <div class="header-date-div"><h3 class="header-date">@(ViewBag.SiteInformation.Date ?? "")</h3></div>
            <div class="pseudo-align"></div>
            <a href="/Home/Index"><img class="header-logo" src="@(ViewBag.SiteInformation.Image != null ? ImageHelper.GetImageUrl(ViewBag.SiteInformation.Image) : "/Images/default_logo.jpg")" /></a>
        </div>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                            var i = 1;
                        }
                        @foreach (MenuItem item in ViewBag.MenuItems)
                        {
                            if (item.IsParent == true)
                            {
                                <li id="menuitem-id-@i">
                                    <a href="#" class="dropdown-toggle menuitem-link" data-toggle="dropdown" role="button" aria-expanded="false">@item.DisplayName<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        @foreach (var child in childList.Where(m => m.Parent == item.Id))
                                        {
                                            <li class="dropdown-menuitem"><a class="dropdown-menuitem-link" href="@LinkHelper.GetUrl(child.Target)">@child.DisplayName</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li id="menuitem-id-@i">
                                    <a class="menuitem-link" href="@LinkHelper.GetUrl(item.Target)" target="@(item.Target.Type != "internal" ? "_blank" : "_self")">@item.DisplayName</a>
                                </li>
                            }
                            i++;
                        }
                    </ul>
                </div>
            </div>
        </div>

        <img class="beads-left hidden-xs" src="~/Images/kraaltjes.png" />
        <div class="container body-content">
            @RenderBody()
        </div>

    <div class="container footer-content">
        <div>
            <div class="footer-text">
                <div class="pseudo-align"></div>
                @*<span>Meld Je Aan Als Vrijwilliger</span>
                <span>Foto's & Video's Aanleveren</span>
                <span>Meld Je Band Aan Voor</span>*@
                <span>Copyright @DateTime.Now.Year - Big Rivers Festival</span>
            </div>
            
        </div>
    </div>
    </body>
</html>
