<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Big Rivers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body background="../Images/background.jpg">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <img class="menuimg" src="../Images/br15.jpg" />
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @foreach (MenuItem item in ViewBag.MenuItems)
                    {
                        <li><a href="@item.URL">@item.DisplayName</a></li>

                    }
                    <li>@Html.ActionLink("Events", "Events", "Home", new { id = string.Empty }, null)</li>
                    <!--<li>@Html.ActionLink("Optredens", "Optredens", "Home", new { id = string.Empty }, null)</li>-->
                    <li>@Html.ActionLink("Artiesten", "Artiesten", "Home", new { id = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Genres", "Genres", "Home", new { id = string.Empty }, null)</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />



        <footer>
            <p class="bottomyear">&copy; @DateTime.Now.Year - Big Rivers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
