@model Bigrivers.Client.Backend.ViewModels.SponsorViewModel


<div id="content">
    <div class="form-div">
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Url)
                @Html.TextBoxFor(m => m.Url)
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Image)
                <span>Upload het logo van deze sponsor</span><br />
                <input type="file" name="pic">
            </fieldset>
            <hr />
            <fieldset>
                <label class="label label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <fieldset>
                <input type="submit" name="save" value="Sponsor opslaan">
            </fieldset>
        </form>
    </div>
    
</div>