@model Bigrivers.Client.Backend.ViewModels.LocationViewModel

<div id="content">
    <div class="form-div">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <fieldset>
                    @Html.LabelFor(m => m.Stagename)
                    @Html.TextBoxFor(m => m.Stagename)
                </fieldset>
                <hr />
                <fieldset>
                    @Html.LabelFor(m => m.Street)
                    @Html.TextBoxFor(m => m.Street)
                    @Html.LabelFor(m => m.Zipcode)
                    @Html.TextBoxFor(m => m.Zipcode)
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City)
                </fieldset>
                <hr />
                <fieldset>
                    <label class="label label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
                </fieldset>
                <hr />
                <fieldset>
                    <input type="submit" name="save" value="Podium opslaan">
                </fieldset>
            }
    </div>
</div>