@using Bigrivers.Server.Model
<div id="actionbar">
    <div class="action-block">
        @Html.ActionLink("Podium Toevoegen", "New", "Locations")
    </div>
</div>
<div id="content">
    <table>
        <thead>
            <tr>
                <th>Podiumnaam</th>
                <th>Locatie</th>
                <th>Auteur</th>
                <th>Gewijzigd op</th>
                <th>Status</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Location m in Model)
            {
                if (!m.Status)
                {
                    @:<tr class="inactive">
                }
                else
                {
                    @:<tr>
                }
                <td>@m.Stagename</td>
                <td>@m.Street@(m.Number != null ? " " + m.Number + "," : ",") @m.Zipcode, @m.City</td>
                <td>@m.EditedBy</td>
                <td>@m.Edited</td>
                <td>@Html.ActionLink((m.Status ? "Actief" : "Inactief"), "SwitchStatus", "Locations", new { m.Id }, null)</td>
                <td>@Html.ActionLink("Wijzig", "Edit", "Locations", new { m.Id }, null) @Html.ActionLink("Verwijder", "Delete", "Locations", new { m.Id }, new { @onclick = "return confirm('Je staat op het punt om dit optreden te verwijderen. Weet je dit zeker?');" })</td>
                @:</tr>
            }
        </tbody>
    </table>
</div>