<section id="wrapper">
    <h1>Overzicht</h1>
    <div class="block">
        <h2>Nieuws</h2>
        <div class="itemblock">
            <div class="stats">
                <h3>Nieuwsitems:</h3>
            </div>
            <div class="item">
                @Html.ActionLink("Voeg nieuwsbericht toe", "New", "News")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer nieuwsberichten", "Manage", "News")
            </div>
        </div>
    </div>
    <div class="block">
        <h2>Artiesten</h2>
        <div class="itemblock">
            <div class="stats">
                <h3>Artiesten, Optredens:</h3>
            </div>
            <div class="item">
                @Html.ActionLink("Voeg artiest / band toe", "New", "Artist")
            </div>
            <div class="item">
                @Html.ActionLink("Voeg optreden toe", "New", "Performance")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer optredens", "Manage", "Performance")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer artiesten", "Manage", "Artist")
            </div>
        </div>
    </div>
    <div class="block">
        <h2>Evenementen, sponsoren</h2>
        <div class="itemblock">
            <div class="stats">
                <h3>Evenementen, sponsoren:</h3>
            </div>
            <div class="item">
                @Html.ActionLink("Voeg evenement toe", "New", "Event")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer Evenementen", "Manage", "Event")
            </div>
            <div class="item">
                @Html.ActionLink("Voeg sponsor toe", "New", "Sponsors")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer sponsoren", "Manage", "Sponsors")
            </div>
        </div>
    </div>
    <div class="block">
        <h2>Genre's, Podia</h2>
        <div class="itemblock">
            <div class="stats">
                <h3>Podia:</h3>
            </div>
            <div class="item">
                @Html.ActionLink("Voeg genres toe", "New", "Genre")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer genres", "Manage", "Genre")
            </div>
            <div class="item">
                @Html.ActionLink("Voeg podium toe", "New", "Stage")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer podia", "Manage", "Stage")
            </div>
        </div>
    </div>
    <div class="block">
        <h2>Leeg Blok</h2>
        <div class="itemblock">
            <div class="stats">
                <h3></h3>
            </div>

        </div>
    </div>
    <div class="block">
        <h2>Instellingen</h2>
        <div class="itemblock">
            <div class="stats">
                <h3>Site instellingen</h3>
            </div>
            <div class="item">
                @Html.ActionLink("Beheer Menuitems", "Manage", "MenuItem")
            </div>
            <div class="item">
                @Html.ActionLink("Voeg menuitem toe", "New", "MenuItem")
            </div>
            <div class="item">
                @Html.ActionLink("Beheer Pagina's", "Manage", "Page")
            </div>
            <div class="item">
                @Html.ActionLink("Logo en links", "Settings", "Home")
            </div>
        </div>
    </div>
</section>