@model Bigrivers.Client.Backend.ViewModels.SettingsViewModel

<div id="content">
    <div class="form-div">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.YoutubeChannel)
                @Html.TextBoxFor(m => m.YoutubeChannel)
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </fieldset>
            <hr />
            <fieldset>
                <input type="submit" name="save" value="Instellingen opslaan">
            </fieldset>
        }
    </div>
    
</div>