<div id="wrapper">
    @ViewBag.errormsg
    <h1>@ViewBag.Title</h1>
    <div id="actionbar">
        <div class="action-block">
            @Html.ActionLink("Item Toevoegen", "New", "MenuItems")
        </div>
    </div>
    <div id="content">
        <table>
            <thead>
            <tr>
                <th>Weergavenaam</th>
                <th>URL</th>
                <th>Status</th>
                <th>Acties</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var m in ViewBag.listMenuItems)
                {
                    if (!m.Status)
                    {
                        @:<tr class="inactive">
                    }
                    else if (m.Parent != null)
                    {
                        @:<tr class="child" data-id="@m.Id">
                    }
                    else if (m.Parent == null)
                    {
                        @:<tr data-id="@m.Id">
                    }
                    
                    <td>@m.DisplayName</td>
                    <td>
                        @* Only display URL if the MenuItem is not a parent *@
                        @if (!m.IsParent)
                        {
                            @m.URL
                        }
                    </td>
                    
                    // Status switcher links
                    if (m.Status)
                    {
                        // Change alert text depending on isparent status
                        if (!m.IsParent)
                        {
                            <td>@Html.ActionLink("Actief", "SwitchStatus", "MenuItems", new { m.Id }, new { @onclick = "return confirm('Als je dit menuitem uitschakelt, is het niet meer zichtbaar in de menubalk en wordt het uit de volgorde gehaalt. Weet je dit zeker?');" })</td>
                        }
                        else
                        {
                            <td>@Html.ActionLink("Actief", "SwitchStatus", "MenuItems", new { m.Id }, new { @onclick = "return confirm('Als je dit menuitem uitschakelt, is het niet meer zichtbaar in de menubalk en wordt het samen met alle submenuitems uit de volgorde gehaalt. Weet je dit zeker?');" })</td>
                        }

                    }
                    else if (!m.Status)
                    {
                        <td>@Html.ActionLink("Inactief", "SwitchStatus", "MenuItems", new { m.Id }, null)</td>
                    }
                    <td>
                        @Html.ActionLink("Wijzig", "Edit", "MenuItems", new { m.Id }, null)
                        @* Change delete alert text depending on isparent status *@
                        @if (!m.IsParent)
                        {
                            @Html.ActionLink("Verwijder", "Delete", "MenuItems", new {m.Id}, new {@onclick = (string) String.Format("return confirm('Je staat op het punt om {0} te verwijderen. Weet je dit zeker?');", m.DisplayName)});
                        }
                        else
                        {
                            @Html.ActionLink("Verwijder", "Delete", "MenuItems", new {m.Id}, new {@onclick = (string) String.Format("return confirm('Je staat op het punt om {0} te verwijderen. Dit zal alle submenuitems inactief zetten. Weet je dit zeker?');", m.DisplayName)});
                        }

                        @* Only display order switches and parent selector if the MenuItem is active *@
                        @if (m.Status)
                        {
                            @Html.ActionLink("Up", "ShiftOrder", "MenuItems", new { id = m.Id, param = "up" }, null)
                            @Html.ActionLink("Down", "ShiftOrder", "MenuItems", new { id = m.Id, param = "down" }, null)

                            // Omit own name from selectlist
                            var list = ((List<SelectListItem>)ViewBag.menuParents)
                            .Where(l => l.Text != m.DisplayName);

                            // Display list with all other parent items to root menuitems, display list with current parent pre-selected to submenuitems
                            if (m.Parent == null && !m.IsParent)
                            {
                                @Html.DropDownList("Parent", list)
                            }
                            else if (m.Parent != null)
                            {
                                @Html.DropDownList("Parent", list, new { data_selected = m.Parent })
                            }
                        }
                    </td>
                @:</tr>
                }
            </tbody>
        </table>
        <script>
            // Go to AddToParent action when item is chosen from selectlist
            $("select[name=Parent]").on("change", function () {
                var parentId = this.value;
                var itemId = $(this).parents("tr").data("id");
                window.location = "/MenuItems/AddToParent/"+itemId+"/"+parentId;
            });

            var selects = $("select");
            // Set default item in selectlist
            $.each(selects, function() {
                var selected = $(this).data("selected");

                if (typeof (selected) != "undefined") {
                    $(this).val(selected);
                }
            });

        </script>
    </div>
</div>
