@model Bigrivers.Client.Backend.ViewModels.PerformanceViewModel

<div id="wrapper">
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @if (Model.Event != null)
                {
                    @Html.DropDownListFor(m => m.Event, Model.Events, new { data_selected = Model.Event })
                }
                else
                {
                    @Html.DropDownListFor(m => m.Event, Model.Events)
                }

                @if (Model.Artist != null)
                {
                    @Html.DropDownListFor(m => m.Artist, Model.Artists, new { data_selected = Model.Artist })
                }
                else
                {
                    @Html.DropDownListFor(m => m.Artist, Model.Artists)
                }

                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @Id = "description" })
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => m.Start)
                @Html.TextBoxFor(m => m.Start, new { @id = "datepicker1" })
                @Html.LabelFor(m => m.End)
                @Html.TextBoxFor(m => m.End, new { @id = "datepicker2" })
            </fieldset>
            <fieldset>
                <label class="label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <div class="footer">
                <input type="submit" name="save" value="Optreden opslaan">
            </div>
        }
        <script>
            $("#datepicker1").datetimepicker({
                dateFormat: "d-m-yy",
                timeFormat: "h:mm:s"
            });
            $("#datepicker2").datetimepicker({
                dateFormat: "d-m-yy",
                timeFormat: "H:mm:ss"
            });

            var selects = $("select");
            // Set default item in selectlist
            $.each(selects, function () {
                var selected = $(this).data("selected");

                if (typeof (selected) != "undefined") {
                    $(this).val(selected);
                }
            });
        </script>
    </div>
</div>