@using Bigrivers.Server.Model
@{
    List<Performance> listPerformances = ViewBag.listPerformances;
}

<div id="actionbar">
    <div class="action-block">
        @Html.ActionLink("Optreden Toevoegen", "New", "Performances")
    </div>
</div>
<div id="content">
    <table>
        <thead>
        <tr>
            <th>Optreden van... op...</th>
            <th>Start</th>
            <th>Eind</th>
            <th>Status</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var m in listPerformances)
            {
                if (!m.Status)
                {
                    @:<tr class="inactive">
                }
                else
                {
                    @:<tr>
                }
                <td><span class="Bold">@m.Artist.Name</span> op <span class="Bold">@m.Event.Title</span></td>
                <td>@m.Start.DateTime</td>
                <td>@m.End.DateTime</td>
                <td>@Html.ActionLink((m.Status ? "Actief" : "Inactief"), "SwitchStatus", "Performances", new { m.Id }, null)</td>
                <td>@Html.ActionLink("Wijzig", "Edit", "Performances", new { m.Id }, null)@Html.ActionLink("Verwijder", "Delete", "Performances", new { m.Id }, new { @onclick = "return confirm('Je staat op het punt om dit optreden te verwijderen. Weet je dit zeker?');" })</td>
            @:</tr>
            }
        </tbody>
    </table>
</div>