@model Bigrivers.Client.Backend.ViewModels.ArtistViewModel

<div id="wrapper">
    <div class="page-title">
        <h1>Artiest toevoegen</h1>
    </div>

    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <h2>Artiest</h2>
            <fieldset>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new {@Id = "description"})
                @*<script>
                        // Replace the <textarea id="description"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace("description");
                    </script>*@
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Avatar)
                <span>Upload een foto voor de artiest</span><br/>
                <input type="file" name="pic">
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
                @Html.LabelFor(m => m.YoutubeChannel)
                @Html.TextBoxFor(m => m.YoutubeChannel)
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => m.Status)
                <label class="radio">@Html.RadioButtonFor(m => m.Status, true) Actief</label>
                <label class="radio">@Html.RadioButtonFor(m => m.Status, false) Inactief</label>
            </fieldset>
            <hr />
            <div class="footer">
                <input type="submit" name="save" value="Artiest opslaan">
            </div>
        }
    </div>
</div>