@using Bigrivers.Client.Backend.Helpers
@using Bigrivers.Server.Model

@{
    ViewBag.Title = "Artiesten";
    List<Artist> listArtists = ViewBag.ListArtists;
}
<div id="wrapper">
    @ViewBag.errormsg
    @Html.Header("1", "Beheer")
    <div id="actionbar">
        <div class="action-block">
            @Html.ActionLink("Artiest Toevoegen", "New", "Artist")
        </div>
        <div class="action-block">
            @Html.ActionLink("Optreden Toevoegen", "New", "Performance")
        </div>
        <div class="action-block">
            @Html.ActionLink("Optredens Beheren", "Manage", "Performance")
        </div>
    </div>
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>Artiest</th>
                    <th>Auteur</th>
                    <th>Weblinks</th>
                    <th>Updated</th>
                    <th>Status</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in listArtists)
                {
                    <tr>
                        <td>@a.Name</td>
                        <td>Auteurnaam</td>
                        <td>@Html.HyperLink(a.Website, "W", true)@Html.HyperLink(a.YoutubeChannel, "Y", true)@Html.HyperLink(a.Facebook, "F", true)@Html.HyperLink(a.Twitter, "T", true)</td>
                        <td>Datum gewijzigd</td>
                        @if (a.Status)
                        {
                            <td>Actief</td>
                        }
                        else
                        {
                            <td>Inactief</td>
                        }
                        <td>@Html.ActionLink("Wijzig", "Edit", "Artist", new { a.Id }, null)@Html.ActionLink("Verwijder", "Delete", "Artist")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
