@using Bigrivers.Server.Model
@{
    List<Artist> listArtists = ViewBag.ListArtists;
}
<div id="wrapper">
    @ViewBag.errormsg
    @Html.Header("1", "Beheer")
    <div id="actionbar">
        <div class="action-block">
            @Html.ActionLink("Artiest Toevoegen", "New", "Artist")
        </div>
        <div class="action-block">
            @Html.ActionLink("Optreden Toevoegen", "New", "Performance")
        </div>
        <div class="action-block">
            @Html.ActionLink("Optredens Beheren", "Manage", "Performance")
        </div>
    </div>
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>Artiest</th>
                    <th>Auteur</th>
                    <th>Weblinks</th>
                    <th>Updated</th>
                    <th>Status</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in listArtists)
                {
                    <tr>
                        <td>@a.Name</td>
                        <td>Auteurnaam</td>
                        <td>@Html.HyperLink("W", a.Website, true)@Html.HyperLink("Y", a.YoutubeChannel, true)@Html.HyperLink("F", a.Facebook, true)@Html.HyperLink("T", a.Twitter, true)</td>
                        <td>Datum gewijzigd</td>
                        @if (a.Status)
                        {
                            <td>@Html.ActionLink("Actief", "SwitchStatus", "Artist", new { a.Id }, null)</td>
                        }
                        else
                        {
                            <td>@Html.ActionLink("Inactief", "SwitchStatus", "Artist", new { a.Id }, null)</td>
                        }
                        <td>@Html.ActionLink("Wijzig", "Edit", "Artist", new { a.Id}, null)@Html.ActionLink("Verwijder", "Delete", "Artist", new { a.Id }, new { @onclick = "return confirm('Je staat op het punt om "+a.Name+" te verwijderen. Weet je dit zeker?');"})</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
