@model Bigrivers.Client.Backend.ViewModels.ArtistViewModel
@ViewBag.Title = "Create";

<div id="wrapper">
    <div class="page-title">
        <h1>Artiest toevoegen</h1>
    </div>

    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2>Artiest</h2>
            @Html.LabelFor(a => a.Name)
            @Html.TextBoxFor(a => a.Name)
            @Html.LabelFor(a => a.Description)
            @Html.TextAreaFor(a => a.Description)
            @*<script>
                    // Replace the <textarea id="description"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace("description");
                </script>*@
            <div class="imageUpload">
                @Html.LabelFor(a => a.Avatar)
                <span>Upload een foto voor de artiest</span><br />
                <input type="file" name="pic">
            </div>
            <hr />
            <div class="url">
                @Html.LabelFor(a => a.Website)
                @Html.TextBoxFor(a => a.Website)
                @Html.LabelFor(a => a.YoutubeChannel)
                @Html.TextBoxFor(a => a.YoutubeChannel)
                @Html.LabelFor(a => a.Facebook)
                @Html.TextBoxFor(a => a.Facebook)
                @Html.LabelFor(a => a.Twitter)
                @Html.TextBoxFor(a => a.Twitter)
            </div>
            <div class="footer">
                <hr />
                <input type="submit" name="save" value="Artiest opslaan">
            </div>
        }
    </div>
</div>