<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/backendscripts")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    <title>@ViewBag.Title - Bigrivers CMS</title>
</head>
<body>
    <div id="account-menu">
        <ul id="accountContainer">
            <li class="dropdown">
                Gebruikersnaam<img class="icon" src="/Images/dropdown.png" width="15" height="15" />
                <ul class="sub_navigation">
                    <li>@Html.ActionLink("Log uit", "Logout", "Home")</li>
                </ul>
            </li>
        </ul>
    </div>

    @Html.Partial("_Sidebar")
    @RenderBody()
</body>
</html>