<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/backendscripts")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    <title>@ViewBag.Title - Bigrivers CMS</title>
</head>
<body>
    <div id="login-form">
        <h1><img src="/Images/logo.png" /></h1>
        <h2>Big Rivers CMS</h2>

        <div class="errormsg">
            <ul></ul>
        </div>
        @RenderBody()
    </div>
</body>
</html>