<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/viewscripts")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    <title>@ViewBag.Title - Bigrivers CMS</title>
</head>
<body>
<div id="container">
    <div id="account-menu">
        <ul id="accountContainer">
            <li class="dropdown">
                @User.Identity.Name<img class="icon" src="/Images/dropdown.png" width="15" height="15"/>
                <ul class="sub_navigation">
                    <li>@Html.ActionLink("Wijzig wachtwoord", "ChangePassword", "Account")</li>
                    <li>@Html.ActionLink("Log uit", "Logout", "Account")</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>

    @Html.Partial("_Sidebar")
    @RenderBody()
</div>
</body>
</html>