<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/backend")
</head>
<body>
    <div id="account-menu">
        <ul id="accountContainer">
            <li class="dropdown">
                Gebruikersnaam<img class="icon" src="img/dropdown.png" width="15" height="15" />
                <ul class="sub_navigation">
                    <li>@Html.ActionLink("Log uit", "Logout", "Home")</li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="sidebar">
        <div class="home">
            @Html.ActionLink(" ", "Index", "Home")
        </div>
        <div class="news">
            @Html.ActionLink(" ", "Index", "News")
        </div>
        <div class="artist">
            @Html.ActionLink(" ", "Index", "Artist")
        </div>
        <div class="event">
            @Html.ActionLink(" ", "Index", "Events")
        </div>

        <div class="settings">
            @Html.ActionLink(" ", "Settings", "Home")
        </div>
    </div>

    @RenderBody()
</body>
</html>
