<div id="sidebar">
    <div class="home">
        @Html.ActionLink(" ", "Index", "Home")
    </div>
    <div class="news">
        @Html.ActionLink(" ", "Manage", "News")
    </div>
    <div class="artist">
        @Html.ActionLink(" ", "Manage", "Artists")
    </div>
    <div class="event">
        @Html.ActionLink(" ", "Manage", "Events")
    </div>
    <div class="settings">
        @Html.ActionLink(" ", "Settings", "Home")
    </div>
</div>