<div id="sidebar">
    <div class="home">
        @Html.ActionLink(" ", "Index", "Home")
    </div>
    <div class="news">
        @Html.ActionLink(" ", "Index", "News")
    </div>
    <div class="artist">
        @Html.ActionLink(" ", "Index", "Artist")
    </div>
    <div class="event">
        @Html.ActionLink(" ", "Index", "Events")
    </div>

    <div class="settings">
        @Html.ActionLink(" ", "Settings", "Home")
    </div>
</div>