@model Bigrivers.Client.Backend.ViewModels.EventViewModel

<div id="content">
    <div class="form-div">
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @Id = "description" })
            </fieldset>
            <hr />
            <fieldset>
                <label>@Html.CheckBoxFor(m => m.YoutubeChannelStatus) Geef link naar Youtubekanaal weer</label>
                <label>@Html.CheckBoxFor(m => m.FacebookStatus) Geef link naar Facebookpagina weer</label>
                <label>@Html.CheckBoxFor(m => m.TwitterStatus) Geef link naar Twitterpagina weer</label>
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Start)
                @Html.TextBoxFor(m => m.Start, new { @id = "datepicker1" })
                @Html.LabelFor(m => m.End)
                @Html.TextBoxFor(m => m.End, new { @id = "datepicker2" })
            </fieldset>
            <hr />
            <fieldset>
                <label>@Html.CheckBoxFor(m => m.TicketRequired, new { id = "TicketRequired" }) Tickets Verplicht</label>
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price, new { id = "Price" })
            </fieldset>
            <hr />
            <fieldset>
                <label class="label label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <fieldset>
                <input type="submit" name="save" value="Evenement opslaan">
            </fieldset>
        </form>
    </div>
    
</div>
<script src="/Scripts/ViewScripts/Event-Edit.js"></script>