@using Bigrivers.Server.Model
@{
    List<Event> events = Model;
}

<div id="actionbar">
    <div class="action-block">
        @Html.ActionLink("Evenement Toevoegen", "New", "Events")
    </div>
</div>

<div id="content">
    <table>
        <thead>
            <tr>
                <th>Evenement</th>
                <th>Starttijd</th>
                <th>Eindtijd</th>
                <th>Social Media</th>
                <th>Auteur</th>
                <th>Gewijzigd op</th>
                <th>Status</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in events)
            {
                if (!m.Status)
                {
                    @:<tr class="inactive">
                }
                else
                {
                    @:<tr>
                }
                <td>@m.Title</td>
                <td>@m.Start.DateTime.ToString("dd-MM-yyyy HH:mm")</td>
                <td>@m.End.DateTime.ToString("dd-MM-yyyy HH:mm")</td>
                <td>
                    @if (m.YoutubeChannelStatus)
                    {<span>Y</span>}
                    else
                    {<s>Y</s>}
                    &nbsp;
                    @if (m.FacebookStatus)
                    {<span>F</span>}
                    else
                    {<s>F</s>}
                    &nbsp;
                    @if (m.TwitterStatus)
                    {<span>T</span>}
                    else
                    {<s>T</s>}
                    &nbsp;
                </td>
                <td>@m.EditedBy</td>
                <td>@m.Edited.DateTime.ToString("dd-MM-yyyy HH:mm")</td>
                <td>@Html.ActionLink((m.Status ? "Actief" : "Inactief"), "SwitchStatus", "Events", new { m.Id }, null)</td>
                <td>@Html.ActionLink("Wijzig", "Edit", "Events", new { m.Id }, null) @Html.ActionLink("Verwijder", "Delete", "Events", new { m.Id }, new { @onclick = "return confirm('Je staat op het punt om " + m.Title + " te verwijderen. Weet je dit zeker?');" })</td>
                @:</tr>
            }
        </tbody>
    </table>
</div>