@model Bigrivers.Client.Backend.ViewModels.ButtonItemViewModel

<div id="wrapper">
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="content">
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName)
                @Html.LabelFor(m => m.URL)
                @Html.TextBoxFor(m => m.URL)
            </fieldset>
            <fieldset>
                <input type="file" name="file">
            </fieldset>
            <fieldset>
                <label class="label label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <div class="footer">
                <input type="submit" name="save" value="Menuitem opslaan">
            </div>
        </form>
    </div>
</div>