@using File = Bigrivers.Server.Model.File
@model Bigrivers.Client.Backend.ViewModels.ArtistViewModel
@{
    List<File> fileBase = ViewBag.FileBase;
}

<div id="content">
    <div class="form-div">
        <form method="POST" enctype="multipart/form-data">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new {@Id = "description"})
                @*<script>
                // Replace the <textarea id="description"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace("description");
            </script>*@
            </fieldset>
            <hr/>
            <fieldset>
                @if (Model.Avatar != null)
                {
                    <img class="editor" src="@ImageHelper.GetImageUrl(Model.Avatar)">
                }
                @Html.LabelFor(m => m.Avatar)
                <input type="file" name="file">
                <div class="photogallery">
                    @foreach (var file in fileBase)
                    {
                        <div class="photogallery-item-container">
                            <div class="photo-block">
                                <div class="pseudo-align"></div>
                                <div class="photo-container">
                                    <img src="@ImageHelper.GetImageUrl(file)"/>
                                </div>
                            </div>
                            <div class="text-block">
                                
                                <div class="text-container">
                                    <p>@file.Name</p>
                                </div>
                                
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
            <br class="clear" />
            <hr/>
            <fieldset>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
                @Html.LabelFor(m => m.YoutubeChannel)
                @Html.TextBoxFor(m => m.YoutubeChannel)
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </fieldset>
            <hr/>
            <fieldset>
                @Html.CheckBoxFor(m => m.Status)
                <label class="label label-selectable">Actief</label>
                <br class="clear"/>
            </fieldset>
            <hr/>
            <fieldset>
                <input type="submit" name="save" value="Artiest opslaan">
            </fieldset>
        </form>
    </div>
</div>