@model Bigrivers.Client.Backend.ViewModels.ArtistViewModel

<div id="wrapper">
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="content">
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @Id = "description" })
                @*<script>
                    // Replace the <textarea id="description"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace("description");
                </script>*@
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Avatar)
                <span>Upload een foto voor de artiest</span><br />
                <input type="file" name="file">
            </fieldset>
            <hr />
            <fieldset>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
                @Html.LabelFor(m => m.YoutubeChannel)
                @Html.TextBoxFor(m => m.YoutubeChannel)
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </fieldset>
            <fieldset>
                <label class="label-selectable">@Html.CheckBoxFor(m => m.Status) Actief</label>
            </fieldset>
            <hr />
            <div class="footer">
                <input type="submit" name="save" value="Artiest opslaan">
            </div>
        </form>
</div>
</div>