@using File = Bigrivers.Server.Model.File
@model Bigrivers.Client.Backend.ViewModels.ArtistViewModel
@{
    List<File> fileBase = ViewBag.FileBase;
}

<div id="content">
    <div class="form-div">
        <form method="POST" enctype="multipart/form-data">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new {@Id = "description"})
                @*<script>
                // Replace the <textarea id="description"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace("description");
            </script>*@
            </fieldset>
            <hr/>
            <fieldset>
                    @* File Upload Block Start *@
                    @if (Model.Avatar.ExistingFile != null)
                    {
                        <div class="existing-file-container">
                            <div class="existing-file-image">
                                <img src="@ImageHelper.GetImageUrl(Model.Avatar.ExistingFile)">
                            </div>
                            <div class="existing-file-text">
                                <p>@Model.Avatar.ExistingFile.Name</p>
                            </div>
                        </div>
                    }
                <div id="file-select-container">
                    @Html.LabelFor(m => m.Avatar)
                    @Html.HiddenFor(m => m.Avatar.NewUpload, new {id = "upload-type"})
                    @Html.HiddenFor(m => m.Avatar.Key, new {id = "select-existing-key"})

                    @* Button bar *@
                    <div id="file-select-button-bar">
                        <div id="upload-button" class="file-upload-button selected">
                            <p>Upload een bestand</p>
                        </div>
                        <div id="gallery-button" class="file-upload-button non-selected">
                            <p>Kies een bestaande afbeelding</p>
                        </div>
                    </div>

                    @* File upload block *@
                    <div id="file-upload">
                        @Html.TextBoxFor(m => m.Avatar.UploadFile, new {type = "file"})
                    </div>

                    @* Gallery block *@
                    <div id="file-gallery">
                        @foreach (var file in fileBase)
                        {
                            <div class="file-gallery-item-container non-selected" data-file-key="@file.Key">
                                <div class="file-block">
                                    <div class="pseudo-align"></div>
                                    <div class="file-container">
                                        <img src="@ImageHelper.GetImageUrl(file)"/>
                                    </div>
                                </div>
                                <div class="text-block">
                                    <div class="text-container">
                                        <p>@file.Name</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @* File Upload Block End *@
            </fieldset>
            <br class="clear"/>
            <hr/>
            <fieldset>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
                @Html.LabelFor(m => m.YoutubeChannel)
                @Html.TextBoxFor(m => m.YoutubeChannel)
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </fieldset>
            <hr/>
            <fieldset>
                @Html.CheckBoxFor(m => m.Status)
                <label class="label label-selectable">Actief</label>
                <br class="clear"/>
            </fieldset>
            <hr/>
            <fieldset>
                <input type="submit" name="save" value="Artiest opslaan">
            </fieldset>
        </form>
    </div>
</div>
<script src="/Scripts/ViewScripts/FileExplorer.js"></script>