@model Bigrivers.Client.Backend.ViewModels.ArtistViewModel

<div id="content">
    <div class="form-div">
        <form method="POST" enctype="multipart/form-data">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new {@Id = "description"})
                @*<script>
                // Replace the <textarea id="description"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace("description");
            </script>*@
            </fieldset>
            <hr/>
            <fieldset>
                @if (Model.Avatar != null)
                {
                    <img class="editor" src="@ImageHelper.GetImageUrl(Model.Avatar)">
                }
                @Html.LabelFor(m => m.Avatar)
                <p>Upload een foto voor de artiest</p>
                <input type="file" name="file">
            </fieldset>
            <hr/>
            <fieldset>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
                @Html.LabelFor(m => m.YoutubeChannel)
                @Html.TextBoxFor(m => m.YoutubeChannel)
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </fieldset>
            <hr/>
            <fieldset>
                @Html.CheckBoxFor(m => m.Status)
                <label class="label label-selectable">Actief</label>
                <br class="clear"/>
            </fieldset>
            <hr/>
            <fieldset>
                <input type="submit" name="save" value="Artiest opslaan">
            </fieldset>
        </form>
    </div>
</div>